<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Table Top Trait Database</title>

    <!-- external CSS link -->
    <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>

<body>

    <%- include('../partials/navbar') %>

        <form action="/traits/<%= trait._id %>" method="POST" id="newAbility" class="container">
            <input type="hidden" name="_method" value="PUT">
            <fieldset>
                <legend>Enter New Trait</legend>
                <fieldset>
                    <legend>Basic Information</legend>
                    <input type="text" placeholder="name" name="abilityName" value="<%= trait.abilityName %>">
                    <!-- required> -->
                    <input type="text" placeholder="description" name="abilityDescription"
                        value="<%= trait.abilityDescription %>"> <!-- required> -->
                    <input type="text" placeholder="PHB (151)" name="source" pattern="[a-zA-Z]+ \([0-9]+\)"
                        value="<%= trait.source %>">
                    <!-- required> -->

                    <label for="damage-types">Choose a damage type:</label>
                    <select form="newAbility" name="damageType" id="damage-types" required>
                        <option value="None"  <%=trait.damageType==="None" ? 'selected' : '' %>>None</option>
                        <option value="Acid" <%=trait.damageType==="Acid" ? 'selected' : '' %>>Acid</option>
                        <option value="Bludgeoning" <%=trait.damageType==="Bludgeoning" ? 'selected' : '' %>>Bludgeoning</option>
                        <option value="Cold" <%=trait.damageType==="Cold" ? 'selected' : '' %>>Cold</option>
                        <option value="Fire" <%=trait.damageType==="Fire" ? 'selected' : '' %>>Fire</option>
                        <option value="Force" <%=trait.damageType==="Force" ? 'selected' : '' %>>Force</option>
                        <option value="Lightning" <%=trait.damageType==="Lightning" ? 'selected' : '' %>>Lightning</option>
                        <option value="Necrotic" <%=trait.damageType==="Necrotic" ? 'selected' : '' %>>Necrotic</option>
                        <option value="Piercing" <%=trait.damageType==="Piercing" ? 'selected' : '' %>>Piercing</option>
                        <option value="Poison" <%=trait.damageType==="Poison" ? 'selected' : '' %>>Poison</option>
                        <option value="Psychic" <%=trait.damageType==="Psychic" ? 'selected' : '' %>>Psychic</option>
                        <option value="Radiant" <%=trait.damageType==="Radiant" ? 'selected' : '' %>>Radiant</option>
                        <option value="Slashing" <%=trait.damageType==="Slashing" ? 'selected' : '' %>>Slashing</option>
                        <option value="Thunder" <%=trait.damageType==="Thunder" ? 'selected' : '' %>>Thunder</option>
                    </select>
                    <input type="text" placeholder="damage-type" name="damage-type" value="<%= trait.damageType %>">
                    <!-- required> -->
                </fieldset>
                <fieldset id="flex-vert-list">
                    <legend>Options</legend>
                    <input type="checkbox" id="doesDamage" name="doesDamage" value="true">
                    <label for="doesDamage">This ability does damage</label>
                    <input type="checkbox" id="buffs" name="buffs" value="true">
                    <label for="buff">This ability provides a buff</label>
                    <input type="checkbox" id="debuffs" name="bebuffs" value="true">
                    <label for="bebuffs">This ability inflicts a debuff</label>
                </fieldset>

                <button type="submit">Submit</button>


            </fieldset>
        </form>




        <script src="../../js/traits.js"></script>
</body>

</html>