<div class="row">
    <div class="col s12">
        <fieldset>
            <legend>Category</legend>
            <div class="row">
                <div class="col s12 m3">
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" id="tagDamage" name="tagDamage"
                                <%=(trait.tagDamage) ? "checked" : "" %>
                            value="true" />
                            <span>Damage</span>
                        </label for="tagDamage">
                    </p>
                </div>
                <div class="col s12 m3">
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" id="tagBuff" name="tagBuff" <%=(trait.tagBuff)
                                ? "checked" : "" %> value="true" />
                            <span>Buff</span>
                        </label for="tagDamage">
                    </p>
                </div>
                <div class="col s12 m3">
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" id="tagDebuff" name="tagDebuff"
                                <%=(trait.tagDebuff) ? "checked" : "" %> value="true" />
                            <span>Debuff</span>
                        </label for="tagDebuff">
                    </p>
                </div>
                <div class="col s12 m3">
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" id="tagMovement" name="tagMovement"
                                <%=(trait.tagMovement) ? "checked" : "" %> value="true" />
                            <span>Movement</span>
                        </label for="tagMovement">
                    </p>
                </div>
                <div class="col s12 m3">
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" id="tagConditions" name="tagConditions"
                                <%=(trait.tagConditions) ? "checked" : "" %>
                            value="true" />
                            <span>Condition</span>
                        </label for="tagConditions">
                    </p>
                </div>
                <div class="col s12 m3">
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" id="tagUtility" name="tagUtility"
                                <%=(trait.tagUtility) ? "checked" : "" %> value="true" />
                            <span>Utility</span>
                        </label for="tagUtility">
                    </p>
                </div>
            </div>

        </fieldset>
    </div>
</div>