<div class="row">
    <div class="col s12">
        <fieldset>
            <legend>Category</legend>
            <div class="row">
                <div class="col s12 m3 input-field">
                    <p>
                        <label>
                            <input type="hidden" class="filled-in" id="buffHidden" name="buff" value="false" />
                            <input type="checkbox" class="filled-in" id="buff" name="buff" <%=(trait.buff) ? "checked"
                                : "" %> value="true" />
                            <span>Buff</span>
                        </label for="buff">
                    </p>
                </div>
                <div class="col s12 m3 input-field">
                    <p>
                        <label>
                            <input type="hidden" class="filled-in" id="conditionsHidden" name="conditions"
                                value="false" />
                            <input type="checkbox" class="filled-in" id="conditions" name="conditions"
                                <%=(trait.conditions) ? "checked" : "" %>
                            value="true" />
                            <span>Condition</span>
                        </label for="conditions">
                    </p>
                </div>
                <div class="col s12 m3 input-field">
                    <p>
                        <label>
                            <input type="hidden" class="filled-in" id="damageHidden" name="damage" value="false" />
                            <input type="checkbox" class="filled-in" id="damage" name="damage" <%=(trait.damage)
                                ? "checked" : "" %>
                            value="true" />
                            <span>Damage</span>
                        </label for="damage">
                    </p>
                </div>
                <div class="col s12 m3 input-field">
                    <p>
                        <label>
                            <input type="hidden" class="filled-in" id="debuffHidden" name="debuff" value="false" />
                            <input type="checkbox" class="filled-in" id="debuff" name="debuff" <%=(trait.debuff)
                                ? "checked" : "" %> value="true" />
                            <span>Debuff</span>
                        </label for="debuff">
                    </p>
                </div>
                <div class="col s12 m3 input-field">
                    <p>
                        <label>
                            <input type="hidden" class="filled-in" id="movementHidden" name="movement" value="false" />
                            <input type="checkbox" class="filled-in" id="movement" name="movement" <%=(trait.movement)
                                ? "checked" : "" %> value="true" />
                            <span>Movement</span>
                        </label for="movement">
                    </p>
                </div>
                <div class="col s12 m3 input-field">
                    <p>
                        <label>
                            <input type="hidden" class="filled-in" id="utilityHidden" name="utility" value="false" />
                            <input type="checkbox" class="filled-in" id="utility" name="utility" <%=(trait.utility)
                                ? "checked" : "" %> value="true" />
                            <span>Utility</span>
                        </label for="utility">
                    </p>
                </div>
            </div>

        </fieldset>
    </div>
</div>