<%- include('partials/header') %>

    <div class="container teal-text text-accent-4">
        <form action="/traits/addTrait" method="POST" id="newAbility">

            <h1>Enter New Trait</h1>

            <legend>Basic Information</legend>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="abilityName" id="abilityName" /> <!-- required> -->
                    <label for="abilityName">Ability Name</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" name="source" id="source" />
                    <!-- pattern="[a-zA-Z]+ \([0-9]+\)" /> -->
                    <label for="source">Source</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea class="materialize-textarea" name="abilityDescription" id="abilityDescription"></textarea>
                    <label for="abilityDescription">Ability Description</label>
                </div>
            </div>
            <!-- required> -->
            <div class="row">
                <div class="input-field col s6">
                    <select form="newAbility" name="damageType" id="damage-types" required>
                        <option value="None">None</option>
                        <option value="Acid">Acid</option>
                        <option value="Bludgeoning">Bludgeoning</option>
                        <option value="Cold">Cold</option>
                        <option value="Fire">Fire</option>
                        <option value="Force">Force</option>
                        <option value="Lightning">Lightning</option>
                        <option value="Necrotic">Necrotic</option>
                        <option value="Piercing">Piercing</option>
                        <option value="Poison">Poison</option>
                        <option value="Psychic">Psychic</option>
                        <option value="Radiant">Radiant</option>
                        <option value="Slashing">Slashing</option>
                        <option value="Thunder">Thunder</option>
                    </select>
                    <label for="damage-types">Choose a damage type:</label>
                </div>
            </div>




            <legend>Options</legend>
            <p class="flex flexSpaceAround">
                <label for="doesDamage">
                    <input type="checkbox" id="doesDamage" class="filled-in" name="doesDamage" value="true" />
                    <span>Damage</span>
                </label>

                <label for="buffs">
                    <input type="checkbox" id="buffs" class="filled-in" name="buffs" value="true" />
                    <span>Buff</span>
                </label>

                <label for="debuffs">
                    <input type="checkbox" id="debuffs" class="filled-in" name="bebuffs" value="true" />
                    <span>Debuff</span>
                </label>
            </p>



            <button type="submit">Submit</button>



        </form>
        </section>

        <div class="row">
            <form action="/traits/addTestTrait" method="POST">
                <h2>Add random trait!</h2>
                <p>
                    Add a trait for testing.
                </p>
                <button type="submit" id="random-trait-button">Add Trait</button>
            </form>
        </div>

        <div class="">
            <h3 class="">Traits</h3>
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Source Book</th>
                    </tr>
                </thead>
                <% for(var i=0; i < traits.length; i++) {%>
                    <tr>
                        <td>
                            <%= traits[i].abilityName %>
                        </td>
                        <td>
                            <%= traits[i].abilityDescription %>
                        </td>
                        <td>
                            <%= traits[i].damageType %>
                        </td>
                        <td>
                            <%= traits[i].source %>
                        </td>
                        <td>
                            <a href="/traits/edit/<%=traits[i]._id%>"><button type="button" class="edit-button btn"><i
                                        class="fa-solid fa-pen-to-square"></i></button></a>
                            <button class="delete-button btn <%= traits[i].abilityName %>"><i
                                    class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
    </div>

    <script src="js/traits.js"></script>
    <%- include('partials/footer') %>