<%- include('partials/header') %>
    <div class="container row">
        <div class="">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header row">
                        <div class="col s4">
                            Trait name appears here.
                        </div>
                        <div class="col s4">
                            Damage type appears here.
                        </div>
                        <div class="col s4  right-align">
                            <form action="/traits" method="POST" class="">
                                <button class="btn delete-button  tooltipped" data-tooltip="Delete your trait!"">
                                        <i class=" fa-solid fa-trash">
                                    </i>
                                </button>
                                <a href="/traits">
                                    <button type="button" class="edit-button btn tooltipped"
                                        data-tooltip="Edit your trait!"><i class="fa-solid fa-pen-to-square">
                                        </i>
                                    </button>
                                </a>
                            </form>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <span>
                            Trait description will appear here.
                        </span>
                    </div>
                </li>
                <% for(var i=0; i < traits.length; i++) {%>
                    <li>
                        <div class="collapsible-header row">
                            <div class="col s4">
                                <%= traits[i].traitName %>
                            </div>
                            <div class="col s4">
                                <%= traits[i].traitType %>
                            </div>
                            <div class="col s4  right-align">
                                <form action="/traits/deleteTrait/<%=traits[i]._id%>?_method=DELETE" method="POST"
                                    class="">
                                    <button class="btn delete-button"><i class="fa-solid fa-trash"></i></button>
                                    <a href="/traits/edit/<%=traits[i]._id%>"><button type="button"
                                            class="edit-button btn"><i
                                                class="fa-solid fa-pen-to-square"></i></button></a>
                                </form>
                            </div>
                        </div>
                        <div class="collapsible-body row">
                            <div class="col s12">
                                <p>
                                    <%= traits[i].traitDescription %>
                                </p>
                            </div>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
    <%- include('partials/footer') %>